# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.VR Playground.iml
# Datasource local storage ignored files
/../../../../../../../:\Siur mohot projects\Other\VR Playground\.idea\.idea.VR Playground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
